<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Packages</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <style>

        .title{
            background-color: #eee;
        }

        .container{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding : 20px;
        }

        .img-responsive{
            width: 100%;
            height: auto;
            display: block;
        }

    </style>
</head>
<body>

        <div class="container-">
            <header class="d-flex justify-content-center py-3 bg-dark">
              <ul class="nav nav-pills">
    
                <li class="nav-item"><a href="#" class="nav-link" aria-current="page">Home</a></li>
                <li class="nav-item"><a href="packages.html" class="nav-link">Package</a></li>
                <li class="nav-item"><a href="about.html" class="nav-link">About Us</a></li>
                <li class="nav-item"><a href="contact.html" class="nav-link">Contact us</a></li>
              </ul>
            </header>
        </div>

            <div class="container-">
                <h1 class="title text-center mt-3 py-5">TRIVANDRUM TOUR PACKAGES</h1>
            </div>

            <h3 class="stitle mt-4 ms-3">PACKAGE 1</h3>
            <hr>

            <div class="container-">
                <h2 class="title text-center mt-3 py-4">4 DAYS AND 3 NIGHTS</h2>
                <p class="route text-center"><strong>TRIVANDRUM | AZHIMALA SIVA TEMPLE | KOVALAM BEACH</strong></p>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-xs-12">
                        <img src="/images/aazhimala.png" class="img-responsive fill">
                        <p class="text-center">AZHIMALA TEMPLE</p>
                    </div>

                    <div class="col-md-7 col-xs-12">
                        <h5 class="titles ms-4">DAY 01: AZHIMALA TEMPLE</h5>
                    </div>
                </div>
            </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>